{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form|crispy }}

            <button type="submit" class="btn btn-secondary btn-lg btn-block">Create</button>

        </form>
    </div>

{% endblock %}