{% extends 'base.html' %}


{% block title %}
    HOME
{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
    <div class="container">
        {% for movie in page_obj %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% if movie.image %}{{ movie.image.url }}{% endif %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ movie.category.category_name }}</li>
                    <li class="list-group-item">{{ movie.score }}</li>
                    <li class="list-group-item">{{ movie.total_min }}</li>
                </ul>
                <div class="card-body">
                    <a href="{% url 'movie_detail' movie.pk %}" class="btn btn-primary">Movie Detail</a>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}

