{% extends 'base.html' %}
{% load static %}

{% block title %}
MOVIE-DETAIL
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/movie_detail.css' %}">
    <link rel="stylesheet" href="{% static 'js/movie_detail.js' %}">
    <br>
    <br>
    <br>
<div class="card-movie-wrapper card-movie-wrapper--centered">

  <div class="card-movie-carousel">

    <div class="card-movie card-movie--light card-movie--looper card-movie--active">

      <div class="card-movie__content">

        <div class="card-movie__title">{{ movie.title }}</div>

        <div class="card-movie__details">

          <span class="card-movie__details-item">{{ movie.year }}</span>

          <span class="card-movie__details-item">{{ movie.total_min }} mins</span>

          <ul class="card-movie__details-item card-movie__details-list">
            <li>Genre {{ movie.genre }}</li>
          </ul>

        </div>
        <!-- /.card-movie__details -->

        <div class="card-movie__description">

          <p>{{ movie.description }}</p>

        </div>
        <!-- /.card-movie__description -->

      </div>
      <!-- /.card-movie__content -->

      <div class="card-movie__rating">{{ movie.score }}</div>

      <div class="card-movie__player" data-trailer="5kGFyVKmqA0">

      </div>
      <!-- /.card-movie__player -->

    </div>
    <!-- /.card-movie card-movie--looper -->

    <div class="card-movie card-movie--dark card-movie--tron">

      <div class="card-movie__content">

        <div class="card-movie__title">Tron: Legacy</div>

        <div class="card-movie__details">

          <span class="card-movie__details-item">2010</span>

          <span class="card-movie__details-item">125 mins</span>

          <ul class="card-movie__details-item card-movie__details-list">
            <li>Action</li>
            <li>Adventure</li>
            <li>Fantasy</li>
            <li>Sci-fi</li>
          </ul>

        </div>
        <!-- /.card-movie__details -->

        <div class="card-movie__description">

          <p>The son of a virtual world designer goes looking for his father and ends up inside the digital world that his father designed. He meets his father's corrupted creation and a unique ally who was born inside the digital world.</p>

        </div>
        <!-- /.card-movie__description -->

      </div>
      <!-- /.card-movie__content -->

      <div class="card-movie__rating">6.8</div>

      <div class="card-movie__player" data-trailer="L9szn1QQfas">

      </div>
      <!-- /.card-movie__player -->

    </div>
    <!-- /.card-movie card-movie--tron -->

    <div class="card-movie card-movie--light card-movie--garden-state">

      <div class="card-movie__content">

        <div class="card-movie__title">Garden State</div>

        <div class="card-movie__details">

          <span class="card-movie__details-item">2004</span>

          <span class="card-movie__details-item">102 mins</span>

          <ul class="card-movie__details-item card-movie__details-list">
            <li>Comedy</li>
            <li>Drama</li>
            <li>Romance</li>
          </ul>

        </div>
        <!-- /.card-movie__details -->

        <div class="card-movie__description">

          <p>A quietly troubled young man returns home for his mother's funeral after being estranged from his family for a decade.</p>

        </div>
        <!-- /.card-movie__description -->

      </div>
      <!-- /.card-movie__content -->

      <div class="card-movie__rating">7.6</div>

      <div class="card-movie__player" data-trailer="u82n0e1mgmQ">

      </div>
      <!-- /.card-movie__player -->

    </div>
    <!-- /.card-movie card-movie--garden-state -->

    <div class="card-movie card-movie--light card-movie--interstellar">

      <div class="card-movie__content">

        <div class="card-movie__title">Interstellar</div>

        <div class="card-movie__details">

          <span class="card-movie__details-item">2014</span>

          <span class="card-movie__details-item">169 mins</span>

          <ul class="card-movie__details-item card-movie__details-list">
            <li>Adventure</li>
            <li>Drama</li>
            <li>Sci-fi</li>
          </ul>

        </div>
        <!-- /.card-movie__details -->

        <div class="card-movie__description">

          <p>With our time on Earth coming to an end, a team of explorers undertakes the most important mission in human history; traveling beyond this galaxy to discover whether mankind has a future among the stars.</p>

        </div>
        <!-- /.card-movie__description -->

      </div>
      <!-- /.card-movie__content -->

      <div class="card-movie__rating">8.7</div>

      <div class="card-movie__player" data-trailer="3WzHXI5HizQ">

      </div>
      <!-- /.card-movie__player -->

    </div>
    <!-- /.card-movie card-movie--interstellar -->

    <div class="card-movie card-movie--light card-movie--walter-mitty">

      <div class="card-movie__content">

        <div class="card-movie__title">Walter Mitty</div>

        <div class="card-movie__details">

          <span class="card-movie__details-item">2013</span>

          <span class="card-movie__details-item">114 mins</span>

          <ul class="card-movie__details-item card-movie__details-list">
            <li>Adventure</li>
            <li>Comedy</li>
            <li>Drama</li>
          </ul>

        </div>
        <!-- /.card-movie__details -->

        <div class="card-movie__description">

          <p>When his job along with that of his co-worker are threatened, Walter takes action in the real world embarking on a global journey that turns into an adventure more extraordinary than anything he could have ever imagined.</p>

        </div>
        <!-- /.card-movie__description -->

      </div>
      <!-- /.card-movie__content -->

      <div class="card-movie__rating">7.4</div>

      <div class="card-movie__player" data-trailer="QD6cy4PBQPI">

      </div>
      <!-- /.card-movie__player -->

    </div>
    <!-- /.card-movie card-movie--walter-mitty -->

    <div class="card-movie card-movie--dark card-movie--cloud-atlas">

      <div class="card-movie__content">

        <div class="card-movie__title">Cloud Atlas</div>

        <div class="card-movie__details">

          <span class="card-movie__details-item">2012</span>

          <span class="card-movie__details-item">172 mins</span>

          <ul class="card-movie__details-item card-movie__details-list">
            <li>Drama</li>
            <li>Sci-Fi</li>
          </ul>

        </div>
        <!-- /.card-movie__details -->

        <div class="card-movie__description">

          <p>An exploration of how the actions of individual lives impact one another in the past, present and future, as one soul is shaped from a killer into a hero, and an act of kindness ripples across centuries to inspire a revolution.</p>

        </div>
        <!-- /.card-movie__description -->

      </div>
      <!-- /.card-movie__content -->

      <div class="card-movie__rating">7.5</div>

      <div class="card-movie__player" data-trailer="hWnAqFyaQ5s">

      </div>
      <!-- /.card-movie__player -->

    </div>
    <!-- /.card-movie card-movie--cloud-atlas -->

  </div>
  <!-- /.card-movie-carousel -->

  <div class="card-movie-navigation">

    <ul class="card-movie-navigation__list" data-navigation>
      <li class="is-active"></li>
      <li>t</li>
      <li>r</li>
      <li>s</li>
      <li>t</li>
      <li>a</li>
    </ul>
    <!-- /.card-movie-navigation__list -->

    <button type="button" data-play></button>

  </div>
  <!-- /.card-movie-navigation -->

</div>
<!-- /.card-movie-wrapper -->

<!-- FOLLOW -->
<a class="Follow" target="blank_"></a>

{% endblock %}
