{% extends 'base.html' %}


{% block content %}
<br>
    <br>
    <br>
    {% for movie in movies %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% if movie.image %}{{ movie.image.url }}{% endif %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ movie.genre }}</li>
                    <li class="list-group-item">{{ movie.score }}</li>
                    <li class="list-group-item">{{ movie.total_min }}</li>
                </ul>
                <div class="card-body">
                    <a href="{% url 'movie_detail' movie.pk %}" class="btn btn-primary">Movie Detail</a>
                </div>
            </div>

    {% endfor %}
{% endblock %}