#header {
 background: #64c06e;
}

div.breadcrumbs {
    background: #1b1b1b;
}

.module h2, .module caption, .inline-group h2 {
    background: #074e18;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background: #022d3f;
}

html[data-theme="light"], :root {
    --button-bg: #074e18;
    --button-hover-bg: #00b4ff;
}