{% extends "admin/base.html" %}
{% load static %}

{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">ACA Movie Website</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/admin_style.css' %}">
{% endblock %}
