{% extends "base.html" %}


{% block content %}
    <div class="container">
    <h2>Are you sure you want to delete {{ actor.first_name }} {{ actor.last_name }}</h2>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">DELETE</button>
            <a href="{{ actor.get_absolute_url }}">go back</a>
        </form>
    </div>

{% endblock %}