{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <a href="{% url 'actor:update' actor.pk %}" class="btn btn-success">UPDATE</a>
        <a href="{% url 'actor:delete' actor.pk %}" class="btn btn-danger">DELETE</a>
    </div>
{% endblock %}