{% extends 'base.html' %}


{% block content %}

<div class="card-group">
    {% for actor in page_obj %}
        <div class="card">
        <img class="card-img-top" src="{% if actor.image %}{{ actor.image.url }}{% endif %}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ actor.first_name }} {{ actor.last_name }}</h5>
            <p class="card-text">{{ actor.age }}</p>
            <p class="card-text">{{ actor.awards }}</p>
            <p class="card-text">Movie counts {{ actor.movies.count }}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        <a href="{{ actor.get_absolute_url }}" class="btn btn-success">Actor Detail</a>
    </div>
    {% endfor %}
</div>

{% endblock %}