{% extends "base.html" %}

{% block content %}

    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">UPDATE</button>
        </form>

    </div>

{% endblock %}