{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <h1>Are you sure you want to delete this wonderful account</h1>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">DELETE</button>
        </form>
        <a href="{% url 'user:profile' request.user.pk %}" class="btn btn-primary">Go To Profile</a>
    </div>

{% endblock %}