{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1>Profile Page</h1>
        {{ title }}

        {{ object }}<br>
        {{ object.first_name }}<br>
        {{ object.last_name }}<br>
        {{ object.email }}
        <button class="btn btn-primary"><a href="{% url 'user:update_profile' object.pk %}" style="color: #1b1b1b">Update
            Profile</a></button>
        <button class="btn btn-danger"><a href="{% url 'user:user_delete' object.pk %}" style="color: #1b1b1b">Delete
            Profile</a></button>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-danger w-100">DELETE</button>
        </form>

    </div>
{% endblock %}