{% extends 'base.html' %}

{% block content %}
    <div class="container">
    {% for user in object_list %}
        <h1><a href="{% url 'user:profile' user.pk %}">{{ user.username }}</a></h1>
    {% endfor %}
    </div>

{% endblock %}